@inherits LayoutComponentBase
@inject NavigationManager Nav
@inject YamlLocalizationService LocalizationService

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <div class="top-row px-4">
                <button class="btn btn-sm btn-outline-primary" @onclick="@(() => SwitchCultureAsync("da"))">Dansk</button>
                <button class="btn btn-sm btn-outline-primary" @onclick="@(() => SwitchCultureAsync("en"))">English</button>
                <button class="btn btn-sm btn-outline-primary" @onclick="@(() => SwitchCultureAsync("fr"))">Français</button>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code
{
    private async Task SwitchCultureAsync(string culture)
    {
        await LocalizationService.SetLanguage(culture);
    }
}
