@page "/"
@inject YamlLocalizationService Localization

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>@Localization["Welcome"]</p>

<button @onclick="SetFrench">American</button>
<button @onclick="SetDanish">Danish</button>
@code
{
    async Task SetFrench()
    {
        await Localization.SetLanguage("en");
    }
    
    async Task SetDanish()
    {
        await Localization.SetLanguage("da");
    }

    protected override async Task OnInitializedAsync()
    {
        await Localization.LoadTranslations("Home");
        await base.OnInitializedAsync();
    }
}
