@page "/{culture}"
@using System.Globalization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<AboutMe> Localizer
@rendermode InteractiveServer

<PageTitle>Blog</PageTitle>

<h1>Hello, world!</h1>
<p>@Localizer["MyStory_Header"]</p>

Welcome to your new app.

@code {
    [Parameter] public string Culture { get; set; } = "da";

    protected override void OnParametersSet()
    {
        var ci = new CultureInfo(Culture);
        CultureInfo.DefaultThreadCurrentCulture = ci;
        CultureInfo.DefaultThreadCurrentUICulture = ci;
        CultureInfo.CurrentCulture = ci;
        CultureInfo.CurrentUICulture = ci;
        
        base.OnParametersSet();
    }
}