@inherits LayoutComponentBase
@inject NavigationManager Nav

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <button class="btn btn-sm btn-outline-primary" @onclick="@(() => SwitchCulture("da"))">Dansk</button>
            <button class="btn btn-sm btn-outline-primary" @onclick="@(() => SwitchCulture("af"))">English</button>
            <button class="btn btn-sm btn-outline-primary" @onclick="@(() => SwitchCulture("fr"))">Francais</button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private void SwitchCulture(string culture)
    {
        var relativePath = Nav.ToBaseRelativePath(Nav.Uri);
        var segments = relativePath.Split('/', StringSplitOptions.RemoveEmptyEntries).ToList();
        if (segments.Count > 0)
        {
            segments[0] = culture;
        }
        else
        {
            segments.Add(culture);
            segments.Add("/");
        }
        var newUri = "/" + string.Join('/', segments);
        Nav.NavigateTo(newUri);
    }
}

@* Er der nogen herinde, som har erfaring med Microsoft Localization og Globalization pakker? Jeg er pt. stuck fordi jeg kun kan få vist de danske Page.da.resx, og default Page.resx *@