@inject NavigationManager NavigationManager

<h3></h3>
<p>Culture: @CultureInfo.CurrentUICulture.Name</p>

@code {
    [Parameter] public string Culture { get; set; } = "en";

    protected override void OnParametersSet()
    {
        // Change culture whenever route param changes
        var ci = new CultureInfo(Culture);
        CultureInfo.DefaultThreadCurrentCulture = ci;
        CultureInfo.DefaultThreadCurrentUICulture = ci;

        // Optional if you also want to change the current thread’s culture immediately
        CultureInfo.CurrentCulture = ci;
        CultureInfo.CurrentUICulture = ci;
    }
}