apiVersion: v1
kind: Service
metadata:
  name: minio
  namespace: portfolio 
spec:
  type: ClusterIP
  ports:
  - port: 9000
    name: api
  - port: 9001
    name: console
  selector:
    app: minio

---

apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: minio
  namespace: portfolio 
spec:
  serviceName: "minio"
  replicas: 1
  selector:
    matchLabels:
      app: minio
  template:
    metadata:
      labels:
        app: minio
    spec:
      nodeSelector:
        kubernetes.io/hostname: worker-lenovo-002
      containers:
      - name: minio
        image: quay.io/minio/minio:latest
        args:
        - server
        - /data
        - --console-address
        - ":9001"
        ports:
        - containerPort: 9000
          name: api
        - containerPort: 9001
          name: console
        envFrom:
        - secretRef:
            name: minio-secret
        volumeMounts:
        - name: minio-data
          mountPath: /data
      tolerations:
      - key: "allowSchedule"
        operator: "Exists"
        effect: "NoSchedule"

  volumeClaimTemplates:
  - metadata:
      name: minio-data
    spec:
      accessModes: ["ReadWriteOnce"]
      storageClassName: local-storage
      resources:
        requests:
          storage: 20Gi
