apiVersion: v1
kind: Service
metadata:
  name: minio-nodeport
  namespace: portfolio 
spec:
  type: NodePort
  ports:
  - name: api
    port: 9000
    targetPort: 9000
    nodePort: 30900
  selector:
    app: minio

